.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #686868;
    background-color: #F5EDED;
}

.main {
    display: flex;
    background-color: rgba(245, 237, 237, 1);
}

h1 {
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: rgba(104, 104, 104, 1);
}

h3 {
    font-size: 20px; 
    color: rgba(104, 104, 104, 1);
    margin-top: 0;
    margin-bottom: 30px;
}
    

.u-margin-top-none {
    margin-top: 0!important;
}

.u-margin-none {
    margin: 0!important;
}