$color_red:      #FF3454;
$color_pink:     #FFBBC6;
$color_sand:     #EDD9D9;
$color_gray:     #D8D7E2;
$color_white:    #F5EDED;
$color_blueHaze: #BDBBD4;
$color_purple:   #5B58EC;
$color_blue:     #2C29DE;