.container {
  display: flex;
  margin: 20px 0;
  width: 650px;
  display: flex;
  align-items: center;
  max-width: 1280px;

  &__dropdown {
    margin: auto;
    background-color: #fff;
    flex: 1;
    margin-left: 10px;
  }
  &__dropdown-label{
    align-items: center;
    color: #686868;
    font-size: 32px;
    font-weight: bold;
    width: 200px;
  }
}
